.main {
    background-color: purple;
    background-image: url("../images/title.jpg");
    background-repeat: no-repeat;
    margin: auto;
    height: 700px;
    width: 1200px;
}



h1{
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    text-align: center;
    }

